KTA_REST_API_Example/Connected Services/BusinessRuleService/BusinessRuleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.kofax.com/agility/services/sdk" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBusinessRuleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.kofax.com/agility/services/sdk" location="http://localhost/TotalAgility/Services/SDK/BusinessRuleService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IBusinessRuleService" type="i0:IBusinessRuleService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBusinessRuleService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/AddBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/UpdateBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/DeleteBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DoesBusinessRuleExist">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/DoesBusinessRuleExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessRuleAssociations">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/GetBusinessRuleAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EvaluateBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/EvaluateBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/ExecuteBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessRuleVersions">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/GetBusinessRuleVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessRule">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/GetBusinessRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessRules">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/GetBusinessRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EvaluateBusinessRule2">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/EvaluateBusinessRule2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLoggingConfig">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/GetLoggingConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoggingConfig">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/UpdateLoggingConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogging">
      <soap:operation soapAction="http://www.kofax.com/agility/services/sdk/IBusinessRuleService/DeleteLogging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailFault">
        <soap:fault use="literal" name="CustomExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>