KTA_REST_API_Example/Connected Services/CaptureDocumentService/CaptureDocumentService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Drawing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Drawing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TotalAgility/Services/SDK/CaptureDocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Size">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="height" type="xs:int" />
      <xs:element name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
  <xs:complexType name="PointF">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="x" type="xs:float" />
      <xs:element name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointF" nillable="true" type="tns:PointF" />
  <xs:complexType name="SizeF">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="height" type="xs:float" />
      <xs:element name="width" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SizeF" nillable="true" type="tns:SizeF" />
  <xs:complexType name="Color">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="knownColor" type="xs:short" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="state" type="xs:short" />
      <xs:element name="value" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
</xs:schema>